<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>Weibo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{% static "assets/css/facebook.css" %}" rel="stylesheet">
    </head>
    
    <body>
        
        <div class="wrapper">
			<div class="box">
				<div class="row row-offcanvas row-offcanvas-left">
					
				  
					<!-- main right col -->
					<div class="column col-sm-10 col-xs-11 col-sm-offset-1" id="main">
						
						{% include "weibo/nav.html" %}
					
					  
						<div class="padding">
							<div class="full col-sm-9">
							  
								<!-- content -->                      
								<div class="row">
								  
								  
								  <!-- main col right -->
								  <div class="col-sm-7">
									   
									{% for user in users %}
									<div class="panel panel-default" id="{{ user.uid }}">
										<div class="panel-heading">
											<a href="/weibo/user?uid={{ user.uid }}"><b>@{{ user.screen_name }}</b></a>
										</div>
										

										<div class="panel-body container">
											<span>{{ user.name }}</span>
											<span>{{ user.location }}</span>
									
										</div>

										<div class="panel-footer">
											<div>
												<a class="follow-state" href="#" onclick="change_follow(this,{{ user.uid }});">
													<button type="button" class="btn btn-primary btn-sm">{% if user.me %}Unfollow{% else %}Follow{% endif %}</button>
												</a>
											</div>

											
										</div>

									 </div>
									 {% endfor %}

								  </div>
							   </div><!--/row-->
							  
							</div><!-- /col-9 -->
						</div><!-- /padding -->
					</div>
					<!-- /main -->
				  
				</div>
			</div>
		</div>


		<!--post modal-->
		<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog">
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					Update Status
			  </div>
			  <div class="modal-body">
				  <form class="form center-block" id="post_form" action="/weibo/create_post" method="POST">
					<div class="form-group">
					  <textarea class="form-control input-lg" autofocus="" name="text" placeholder="What do you want to share?"></textarea>
					</div>
					<div class="form-group">
						<input class="form-control input-lg mx-2" name="topic" placeholder="topic">
					</div>
					{% csrf_token %}
				  </form>
			  </div>
			  <div class="modal-footer">
				<div>
    			  <button class="btn btn-primary btn-sm" onclick="event.preventDefault();document.getElementById('post_form').submit();" >Post</button>
				  <button class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
				</div>	
			  </div>
		  </div>
		  </div>
		</div>
        
        <script type="text/javascript" src="{% static "assets/js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "assets/js/bootstrap.js" %}"></script>
        <script type="text/javascript">
        $(document).ready(function() {
			$('[data-toggle=offcanvas]').click(function() {
				$(this).toggleClass('visible-xs text-center');
				$(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
				$('.row-offcanvas').toggleClass('active');
				$('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
				$('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
				$('#btnShow').toggle();
			});
        });

		function change_follow(obj, tuid) {
			var curr_state = $(obj).children("button").text().toLowerCase();
			$.ajax({
				type:"post",
				url:"/weibo/" + curr_state,
				data: { tuid: tuid },
				dataType: "text",
				success:function(data) {
					// location.reload();
					alert(data);
					if (curr_state=='follow'){
						$(obj).children("button").text("Unfollow");
					}else{
						$(obj).children("button").text("Follow");
					}
				}
			});
		}

        </script>
</body></html>
